src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<flow name="postemp" doc:id="28352f1f-9d5c-43a6-8b9c-4aa4a56c5224" >
		<db:insert doc:name="Insert" doc:id="25a74ee4-f8c6-40fb-b1be-1b39b40e9366" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into Employee
values(:E_ID, :E_NAME, :E_SALARY)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
'E_ID': payload.E_ID,
 'E_NAME': payload.E_NAME,
 'E_SALARY': payload.E_SALARY}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="ba8b5ab9-4a80-43d7-801f-7e0d7212245c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getemp" doc:id="6e55a737-71f1-4607-9c73-10d31ef28324" >
		<db:select doc:name="Select" doc:id="f9e4ce86-5d6d-4efc-bcbf-5d52633b5bd0" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM Employee]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="3db69edc-e265-4a58-acef-d58ce0d372a5">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
